[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  NODE_OPTIONS = "--max-old-space-size=4096"
  VITE_VERBOSE = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
